
<table class="table table-dark">
  <thead>
    <th>INFORMACIÒN</th>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Proceso</th>
      <th scope="col">Valor</th>
    </tr>
    <tr>
      <td>Argumentos</td>
      <td>{{argumentos}}</td>
    </tr>
    <tr>
      <td>Sistema Operativo</td>
      <td>{{sO}}</td>
    </tr>
    <tr>
      <td>Node Version</td>
      <td>{{vN}}</td>
    </tr>
    <tr>
      <td>Uso de Memoria</td>
      <td>{{mE}}</td>
    </tr>
    <tr>
      <td>Path de ejecuciòn</td>
      <td>{{execPath}}</td>
    </tr>
    <tr>
      <td>ID del proceso</td>
      <td>{{pID}}</td>
    </tr>
    <tr>
      <td>Directorio de trabajo</td>
      <td>{{cDir}}</td>
    </tr>
  </tbody>
</table>